html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1rem;
}

/* Messages.js */
.messages{
  height: 440px;
  overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
  position: fixed;
  bottom: 1em;
  margin-left: 22rem;
  left: 0;
  right: 1rem;
  z-index: 200;
}

/* Message.js */
.message__self {
  border-left: 2px solid orange;
  padding-left: .5rem;
}

.message__image {
  padding: 1rem;
}